body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: #ffffff;
    /*max-width: 1440px;*/
    height: 100%;
}

/*reset*/
*,
*::after,
*::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

/*header*/
.page-header {
    background: url('../img/header-bg.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 33px 30px;
    height: 100vh;
    width: 100%;
}

.page-header__logo-box {
    width: 217px;
    color: #ffffff;
    vertical-align: middle;
    overflow: hidden;
    align-self: flex-start;
    display: flex;
    text-decoration: none;
    transition-property: opacity;
    transition-duration: .3s;
    padding: 18px 27px;
}

.page-header__logo-box:hover {
    opacity: .7;
}

.page-header__logo-box:active {
    opacity: .3;
}

.page-header__img {
    margin-right: 8px;
}

.page-header__img:last-of-type {
    margin-right: 15px;
}

.page-header__text {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 5px;
}

.page-header__headline {
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    font-size: 38px;
    font-weight: normal;
    letter-spacing: 10px;
    padding: 0;
    line-height: 46px;
}

.page-header__list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.page-header__link {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 50px;
    position: relative;
    transition-property: color, opacity;
    transition-duration: .3s;
}

.page-header__link:hover {
    color: #1bf1ad;
}

.page-header__link:active {
    opacity: .3;
}

/*active link*/
.page-header__link--active::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -9px;
    position: absolute;
    background: #1bf1ad;
}

.page-header__link--active:hover {
    color: #ffffff;
}

.page-header__link--active:hover {
    opacity: 1;
}

/*main*/

.page__main {
    text-align: center;
}

/*main.top*/
.page-main__top-box {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-main__top-headline {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #303030;
    margin-bottom: 45px;
}

.page-main__top-paragraph {
    color: #666666;
    font-size: 28px;
    font-weight: 300;
    line-height: 44px;
}

/*main.middle-first*/
.page-main__middle-box {
    display: flex;
    height: 100vh;
    padding-right: 80px;
}

.page-main__middle-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 43%;
    position: relative;
    padding-top: 150px;
}

.page__main__middle-content-img {
    width: 100%;
    height: auto;
    opacity: 0.9;
    filter: brightness(90%);
}

.page-main__middle-description {
    position: absolute;
    top: 430px;
    left: 47%;
    font-size: 42px;
    line-height: 47px;
    font-weight: 600;
    color: #303030;
    text-align: left;
    z-index: 1;
}

.page-main__middle-left::before {
    content: '';
    display: block;
    position: absolute;
    width: 82%;
    height: 450px;
    bottom: 200px;
    left: 0;
    background-color: rgb(27, 241, 173);
}

.page-main__middle-left::after {
    content: '';
    display: block;
    position: absolute;
    width: 82%;
    height: 450px;
    bottom: 200px;
    left: 0;
    background-color: rgb(27, 241, 173);
    opacity: .3;
}

.page-main__middle-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 210px;
    padding-left: 13px;
    position: relative;
    width: 57%;
}

.page-main__middle-headline {
    font-weight: 500;
    color: #303030;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.page-main__middle-headline::before {
    content: '';
    display: block;
    width: 117px;
    height: 117px;
    border: 12px solid #eaeaea;
    background: #ffffff;
    position: absolute;
    top: 60px;
    left: 28%;
    border-radius: 50%;
    z-index: 0;
}

.page-main__middle-headline::after {
    content: '';
    display: block;
    width: 2px;
    height: 263px;
    background: #eaeaea;
    top: -10px;
    left: 39%;
    position: absolute;
    transform: rotate(45deg);
    z-index: -1;
}

.page-main__middle-purpose {
    font-size: 72px;
    line-height: 72px;
    font-weight: 600;
    text-transform: uppercase;
    color: #303030;
    text-align: left;
}

.page-main__middle-purpose::before {
    content: '';
    display: block;
    width: 48px;
    height: 48px;
    border: 6px solid #e98457;
    background: #ffffff;
    top: 160px;
    left: 77%;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}

.page-main__middle-purpose::after {
    content: '+';
    color: #e98457;
    bottom: 150px;
    left: 30%;
    position: absolute;
    font-size: 58px;
    z-index: -1;
}

.page-main__middle-target {
    color: #e98457;
}

.page-main__middle-decor-pluses {
    position: absolute;
    font-size: 1.3vw;
    letter-spacing: 6px;
    top: 33%;
    left: 6.7%;
    color: #e0e0e0;
    z-index: -1;
    padding-right: 10px;
}

/*section.page-main__team*/

.page-main__team {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-main__team-headline {
    font-size: 18px;
    line-height: 1.4;
    text-transform: uppercase;
    color: #303030;
    padding-left: 17%;
    text-align: left;
    font-weight: 500;
    margin-top: 200px;
    margin-bottom: 10px;
}

.page-main__team-description {
    color: #000;
    font-size: 72px;
    line-height: 70px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
    padding-left: 17%;
    margin-bottom: 70px;
}

.page-main__team-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.page-main__team-item {
    max-width: 400px;
    display: flex;
    padding: 15px 30px 15px 30px;
}

.page-main__team-item:nth-of-type(2) {
    background: #1bf1ad;
}

.page-main__team-item-right {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.page-main__team-name {
    text-align: left;
    font-size: 20px;
    color: #303030;
    line-height: 1.4;
}

.page-main__team-post {
    text-align: left;
    font-size: 16px;
    color: #666666;
    line-height: 1.4;
    margin-bottom: 12px;
}

.page-main__team-social-box {
    display: flex;
    justify-content: space-between;
    width: 60%;
    font-size: 0;
}

.page-main__team-social-link {
    transition-property: opacity;
    transition-duration: .3s;
}

.page-main__team-social-link:hover {
    opacity: .7;
}

.page-main__team-social-link:active {
    opacity: .3;
}

/*section.page-main__bottom*/
.page-main__bottom {
    height: 100vh;
    padding-top: 50px;
    position: relative;
}

.page-main__bottom-headline {
    font-weight: 500;
    color: #303030;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.page-main__bottom-description {
    font-size: 72px;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
}

.page-main__bottom-description::before {
    content: '';
    color: #e98457;
    top: 190px;
    left: 17%;
    position: absolute;
    z-index: -1;
    width: 40px;
    height: 40px;
    background: url("../img/rectangle.svg") no-repeat center center;
    background-size: cover;
}

.page-main__bottom-description::after {
    content: '+';
    color: #e98457;
    top: 20px;
    left: 70%;
    position: absolute;
    font-size: 58px;
    z-index: -1;
}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

}
