body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: #ffffff;
    height: 100%;
    max-width: 1920px;
}

/*reset*/
*,
*::after,
*::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

/*.wrapper {*/
/*padding-bottom: 327px;*/
/*}*/

.visual-hidden {
    visibility: hidden;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.headline-size-color-etc {
    font-weight: 500;
    text-transform: uppercase;
    color: #303030;
    font-size: 1.3vw;
    line-height: 1.4;
    letter-spacing: 5px;
}

.page__main__big-text--size {
    font-weight: 600;
    text-transform: uppercase;
    color: #303030;
    font-size: 5vw;
    line-height: 1.2;
    text-align: left;
}

/*header*/
.page-header {
    background: url('../img/header-bg.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 33px 30px;
    height: 100vh;
    width: 100%;
}

.page-header__logo-box {
    width: 217px;
    color: #ffffff;
    vertical-align: middle;
    overflow: hidden;
    align-self: flex-start;
    display: flex;
    text-decoration: none;
    transition-property: opacity;
    transition-duration: .3s;
    padding: 18px 27px;
}

.page-header__logo-box--black-border {
    border: 2px solid #000;
}

.page-header__logo-box--black-border {
    box-shadow: 5px 5px 0 0 #000;
}

.page-header__logo-box--white-border {
    border: 2px solid #fff;
}

.page-header__logo-box--white-border {
    box-shadow: 5px 5px 0 0 #fff;
}

.page-header__logo-box:hover {
    opacity: .7;
}

.page-header__logo-box:active {
    opacity: .3;
}

.page-header__img {
    margin-right: 8px;
}

.page-header__img:last-of-type {
    margin-right: 15px;
}

.page-header__text {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 5px;
}

.page-header__text--black {
    color: #000;
}

.page-header__headline {
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    font-size: 38px;
    font-weight: normal;
    letter-spacing: 10px;
    padding: 0;
    line-height: 46px;
}

.page-header__list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.page-header__link {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 50px;
    position: relative;
    transition-property: color, opacity;
    transition-duration: .3s;
}

.page-header__link--black {
    color: #000;
}

.page-header__link:hover {
    color: #1bf1ad;
}

.page-header__link:active {
    opacity: .3;
}

/*active link*/
.page-header__link--active::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -9px;
    position: absolute;
    background: #1bf1ad;
}

.page-header__link--active:hover {
    color: #ffffff;
}

.page-header__link--active:hover {
    opacity: 1;
}

/*main*/

.page-main {
    text-align: center;
}

/*section.main.top*/
.page-main__top-box {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-main__top-headline {
    margin-bottom: 45px;
}

.page-main__top-paragraph {
    color: #666666;
    font-size: 28px;
    font-weight: 300;
    line-height: 44px;
}

/*section.main.middle-first*/
.page-main__middle-box {
    display: flex;
    height: 100vh;
    padding-right: 80px;
}

.page-main__middle-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 43%;
}

.page-main__middle-left-container {
    width: 100%;
    height: 35vw;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.page__main__middle-content-img {
    width: 100%;
    height: auto;
    opacity: 0.9;
    filter: brightness(90%);
}

.page-main__middle-description {
    position: absolute;
    bottom: 50px;
    left: 47%;
    font-size: 3vw;
    line-height: 1.1;
    font-weight: 600;
    color: #303030;
    text-align: left;
    z-index: 1;
}

.page-main__middle-left-container::before {
    content: '';
    display: block;
    position: absolute;
    width: 82%;
    height: 85%;
    top: 0;
    left: 0;
    background-color: rgb(27, 241, 173);
}

.page-main__middle-left-container::after {
    content: '';
    display: block;
    position: absolute;
    width: 82%;
    height: 85%;
    top: 0;
    left: 0;
    background-color: rgb(27, 241, 173);
    opacity: .3;
}

.page-main__middle-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 57%;
    z-index: -10;
}

.page-main__middle-right-container {
    position: relative;
    padding-top: 163px;
    padding-left: 13px;
    z-index: -10;
    height: 50vw;
    text-align: left;
}

.page-main__middle-headline {
    margin-bottom: 10px;
}

.page-main__middle-headline::before {
    content: '';
    display: block;
    width: 117px;
    height: 117px;
    border: 12px solid #eaeaea;
    background: #ffffff;
    position: absolute;
    border-radius: 50%;
    z-index: 0;
    left: 10vw;
    top: 0;
}

.page-main__middle-purpose {

}

.page-main__middle-purpose::before {
    content: '';
    display: block;
    width: 48px;
    height: 48px;
    border: 6px solid #e98457;
    background: #ffffff;
    top: 20%;
    left: 77%;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}

.page-main__middle-purpose::after {
    content: '+';
    color: #e98457;
    bottom: 7%;
    left: 30%;
    position: absolute;
    font-size: 4vw;
    line-height: 1.4;
    z-index: -1;
}

.page-main__middle-target {
    color: #e98457;
}

.page-main__middle-decor-pluses {
    position: absolute;
    font-size: 1.3vw;
    letter-spacing: .5vw;
    top: 45%;
    left: 6.7%;
    color: #e0e0e0;
    z-index: -1;
    padding-right: 10px;
}

/*section.page-main__team*/

.page-main__team {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-main__team-headline {
    padding-left: 17%;
    text-align: left;
    margin-top: 200px;
    margin-bottom: 10px;
}

.page-main__team-description {
    padding-left: 17%;
    margin-bottom: 70px;
}

.page-main__team-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.page-main__team-item {
    max-width: 400px;
    display: flex;
    padding: 15px 30px 15px 30px;
}

.page-main__team-item:nth-of-type(2) {
    background: #1bf1ad;
}

.page-main__team-item-right {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.page-main__team-name {
    text-align: left;
    font-size: 20px;
    color: #303030;
    line-height: 1.4;
}

.page-main__team-post {
    text-align: left;
    font-size: 16px;
    color: #666666;
    line-height: 1.4;
    margin-bottom: 12px;
}

.page-main__team-social-box {
    display: flex;
    justify-content: space-between;
    width: 60%;
    font-size: 0;
}

.page-main__team-social-link {
    transition-property: opacity;
    transition-duration: .3s;
}

.page-main__team-social-link:hover {
    opacity: .7;
}

.page-main__team-social-link:active {
    opacity: .3;
}

/*section.page-main__bottom*/
.page-main__bottom {
    padding: 50px 0 100px 0;
    position: relative;
}

.page-main__bottom-headline {
    margin-bottom: 10px;
}

.page-main__bottom-description {
    margin-bottom: 100px;
}

.page-main__bottom-description::before {
    content: '';
    color: #e98457;
    top: 190px;
    left: 17%;
    position: absolute;
    z-index: -1;
    width: 40px;
    height: 40px;
    background: url("../img/rectangle-bg.svg") no-repeat center center;
    background-size: cover;
}

.page-main__bottom-description::after {
    content: '+';
    color: #e98457;
    top: 20px;
    left: 70%;
    position: absolute;
    font-size: 58px;
    z-index: -1;
}

.page-main__bottom-list {
    margin: 100px 0 0 0;
    padding: 0 0 0 10%;
    list-style: none;
    display: flex;
    overflow: hidden;
    position: relative;
}

.page-main__bottom-list::before,
.page-main__bottom-list::after {
    position: absolute;
    display: block;
    width: 96px;
    height: 96px;
    background: transparent;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    border: 2px solid #000;
    font-size: 70px;
    line-height: 96px;
    font-weight: 100;
    cursor: pointer;
    z-index: 2;
}

.page-main__bottom-list::before {
    content: '<';
    left: 1.5%;
}

.page-main__bottom-list::after {
    content: ">";
    right: 1.5%;
}

.page-main__bottom-item {
    max-width: 330px;
    max-height: 300px;
    margin-right: 25px;
}

.page-main__bottom-item:nth-of-type(1),
.page-main__bottom-item:nth-of-type(4) {
    position: relative;
}

.page-main__bottom-item:nth-of-type(1)::after {
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1bf1ad;
    position: absolute;
    opacity: .8;
}

.page-main__bottom-item:nth-of-type(4) {
    opacity: .5;
}

.page-main__bottom-item:nth-of-type(4)::after {
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1bf1ad;
    position: absolute;
    opacity: .4;

}

/*footer.page-footer*/

.page-footer {
    padding: 60px 30px 110px 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-top: 2px solid #efefef;
}

.page-footer__left-box {
    display: flex;
    flex-direction: column;
}

.page-footer__left-box-top {
    display: flex;
    justify-content: space-around;
    margin-bottom: 45px;
}

.page-footer__question {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 3px;
    align-self: center;
}

.page-footer__question--green {
    color: #1bf1ad;
    text-decoration: none;
}

.page-footer__left-box-bottom {
    display: flex;
    flex-direction: column;

}

.page-footer__right-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
}

.page-footer__list {
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
    display: flex;
    font-size: 0;
}

.page-footer__item {
    width: 22px;
    height: 22px;
    background: #000;
    margin-right: 10px;
    border-radius: 50%;
    transition-property: opacity, transform;
    transition-duration: .3s;
}

.page-footer__item:hover {
    opacity: .7;
    transform: scale(1.1);
}

.page-footer__item:active {
    opacity: .3;

}

.page-footer__hotline,
.page-footer__email {
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 1.2;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    position: relative;
    padding-left: 28px;
}

.page-footer__hotline::before {
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    top: 0;
    left: 0;
    background: url("../img/phone.svg") no-repeat center center;
    background-size: cover;
}

.page-footer__email::before {
    content: '';
    position: absolute;
    height: 12px;
    width: 18px;
    top: 0;
    left: 0;
    background: url("../img/mail.svg") no-repeat center center;
    background-size: cover;
}

@media screen and (max-width: 1280px) {
    .headline-size-color-etc {
        font-size: 1.1vw;
    }

    .page__main__big-text--size {
        font-size: 4vw;
    }

    .page-main__middle-description {
        font-size: 2.7vw;
    }
}

@media screen and (max-width: 1180px) {

    .page-main__team-list {
        margin: 0 auto;

        flex-direction: column;
    }

    .page-main__team-item {
        margin-bottom: 20px;
    }

    .page-footer {
        flex-wrap: wrap;
    }

    .page-footer__left-box {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {

}
